.middle{
  font-family: 'Ink Free', sans-serif;
  font-size: 30px;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-back{
  margin: 20px;
  background-color: var(--rose);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 210px;
  z-index: 1;
  top: 80px;
  position: fixed;
  left: 80px;
  font-family: 'Ink Free', sans-serif;
  font-size: 18px;
}


.button-stats {
  margin: 20px;
  background-color: var(--rose);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 210px;
  z-index: 1;
  top: 80px;
  position: fixed;
  font-family: 'Ink Free', sans-serif;
  font-size: 18px;
  right: 80px;
}


