.container {
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Titre{
  font-family: "Ink Free", sans-serif;
  font-size: 20px;
}

.addnew-package-container {
  background-color: var(--blanc);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  width: 500px;
  text-align: center;
}

.addnew-package-container h1 {
  margin-bottom: 20px;
  color: var(--vert-clair);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--gris-clair);
  border-radius: var(--petite-bordure);
  margin-bottom: 15px;
}

input[type="submit"] {
  color: var(--blanc);
  background-color: var(--vert-clair);
  padding: 12px;
  border: none;
  border-radius: var(--petite-bordure);
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: var(--vert);
}

.package-added-message {
  color: var(--rose-clair);
  padding: 10px 10px;
  margin-top: 10px;
}

.en-colonne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.required {
  color: var(--rouge);
  margin-left: 5px;
}

.error-message {
  color: var(--rouge);
}
