.display-packages-container {
  font-family: Arial, sans-serif;
  background-color: var(--rose-clair);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  color: var(--blanc);
}

app-package {
  display: inline-block;
  vertical-align: top;
}
