.display-packages-container {
  font-family: Arial, sans-serif;
  background-color: #ffb6c1; /* Couleur de fond - Rose clair */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center; /* Texte aligné au centre */
  color: #000; /* Couleur du texte - Noir */
  margin: 15px; /* Espace autour du conteneur */
  display: flex; /* Utiliser un affichage flexible */
  flex-direction: column; /* Aligner les éléments en colonne */
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  color: #fff;
}

app-package {
  display: inline-block;
  vertical-align: top;
}
