.display-packages-container {
  font-family: "Ink Free", sans-serif;
  font-size: 20px;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  color: var(--blanc);
}

app-package {
  display: inline-block;
  vertical-align: top;
}

.filter-section {
  flex-direction: column;
  font-family: "Ink Free", sans-serif;
  font-size: 17px;
  background-color: var(--rose-pale);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 300px;
  margin: 15px 15px 15px 15px;
  padding: 20px;
  color: var(--noir);

}

.filter-section select {
  margin-left: 5px;
  text-align: center;
}

.filter-position {
  top: 80px;
  position: fixed;
  right: 15px;
}

.page-container {
  display: flex;
}

.add-button {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  width: 220px;
  height: 40px;
  border-radius: var(--petite-bordure);
  cursor: pointer;
}

.add-button:hover {
  background-color: var(--vert);
}

