<div class="filter-position" >

 <div class="filter-section">
  <label for="category-filter">Filter by Category : </label>
  <select id="category-filter" [(ngModel)]="selectedCategory" (change)="applyFilters()">
    <option value="Any">Any</option>
    <option value="Maths">Maths</option>
    <option value="English">English</option>
    <option value="Physics">Physics</option>
    <option value="Philosophy">Philosophy</option>
    <option value="History">History</option>
    <option value="Geography">Geography</option>
    <option value="Informatics">Informatics</option>
  </select></div>

  <div class="filter-section">

    <label for="target-filter">Filter by Audience : </label>
    <select id="target-filter" [(ngModel)]="selectedAudience" (change)="applyFilters()">
      <option value="Any">Any</option>
      <option value="Children">Children</option>
      <option value="Adults">Adults</option>
      <option value="Eldery">Eldery</option>

    </select></div>

  <div class="filter-section">

    <label for="level-filter">Filter by Level : </label>
    <select id="level-filter" [(ngModel)]="selectedLevel" (change)="applyFilters()">
      <option value="Any">Any</option>
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
      <option value="Undefined">Undefined</option>
    </select></div>


</div>

<div class="display-packages-container">
  <h1 class="title">All Packages</h1>
  <div *ngFor="let package of packages">
    <app-package [package]="package"></app-package>
  </div>
</div>


