<div class="display-fact-container">
  <div class="header-container">
    <div class="select-shape">
      <p class="change-package">Change Package</p>
      <select *ngIf="currentPackage" [(ngModel)]="selectedPackageId" (change)="onPackageChange()">
        <option *ngFor="let package of AllPackages" [value]="package.id_package">{{ package.title_package }}</option>
      </select>
    </div>
  </div>

  <div class="colonne">

    <h1 *ngIf="currentPackage">{{ currentPackage.title_package }}</h1>

    <div id="question-container" *ngIf="currentFact && currentPackage">
      <p>{{ currentFact.recto }}</p>
    </div>
    <div id="answer-container" *ngIf="currentFact && currentPackage && isVisible">
      <p>{{ currentFact.verso }}</p>
    </div>

    <div class="bouton-reveal" *ngIf="!isVisible">
      <button class="reveal-button" (click)="onReveal()">Reveal</button>
    </div>
    <div class="bouton-reveal" *ngIf="isVisible">
      <button class="reveal-button" (click)="onReveal()">Hide</button>
    </div>

  </div>

  <div class="difficulty-div" *ngIf="isVisible && !isStated">
    <p id="txt-difficulty">How did you feel about it ?</p>

    <div class="button-container">
      <button class="button-difficulty color-difficult" (click)="setStateFact('To review', 1)">To Review <1m</button>
      <button class="button-difficulty color-review" (click)="setStateFact('Difficult', 10)">Difficult <10m</button>
      <button class="button-difficulty color-review" (click)="setStateFact('Correct', 1440)">Correct 1j</button>
      <button class="button-difficulty color-easy" (click)="setStateFact('Easy', 7200)">Easy 5j</button>
    </div>
  </div>

  <p id="index">{{ currentIndex }} / {{ totalFact }}</p>
  <button id="next-button" (click)="onNextClick()">Next Fact</button>
</div>
