.display-fact-container {
  font-family: Arial, sans-serif;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  min-height: 87vh;
}


.select-shape{
  margin-left: 30px;
  margin-top: 15px;
  position: fixed;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: var(--blanc);
}

#question-container {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  background-color: var(--blanc);
  margin: 20px auto 10px auto; /* Ajustez la marge supérieure selon vos besoins */
  max-width: 600px;
  overflow-wrap: break-word;
}

#answer-container {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--blanc);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 5px auto;
  max-width: 600px;
  overflow-wrap: break-word;
}


#index {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: var(--noir);
}

#next-button {
  position: fixed;
  bottom: 0;
  right: 10px;
  margin: 40px;
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next-button:hover {
  background-color: var(--vert);
}

.reveal-button {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;

}

.reveal-button:hover {
  background-color: var(--vert);
}

.bouton-reveal{
  text-align: center;
}

.change-package{
  color: var(--blanc);
}

.button-difficulty {
  color: var(--noir);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  width: 150px;
}

.button-difficulty:hover {
  background-color: var(--blanc);
}

.difficulty-div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#txt-difficulty {
  margin-bottom: 20px;
}

.color-difficult{
  background-color: var(--rouge-pale);
}

.color-review{
  background-color: var(--rose);
}

.color-easy{
  background-color: var(--vert-menthe);
}
