
<div class="display-fact-container">
  <h1 *ngIf="currentPackage">{{ currentPackage.title_package }}</h1>
  <div class="select-shape">
    <div class="change-package">Change Package</div>
    <select *ngIf="currentPackage" [(ngModel)]="selectedPackageId" (change)="onPackageChange()">
      <option *ngFor="let package of AllPackages" [value]="package.id_package">{{ package.title_package }}</option>
    </select>
  </div>

    <div id="question-container" *ngIf="currentFact && currentPackage">
      <p>{{ currentFact.recto }}</p>
    </div>
    <div id="answer-container" *ngIf="currentFact && currentPackage && isVisible">
      <p>{{ currentFact.verso }}</p>
    </div>

  <div class="bouton-reveal" *ngIf="!isVisible">
    <button class="reveal-button" (click)="onReveal()">Reveal</button>
  </div>
  <div class="bouton-reveal" *ngIf="isVisible">
    <button class="reveal-button" (click)="onReveal()">Hide</button>
  </div>

  <div class="difficulty-div" *ngIf="isVisible && !isStated">
    <p id="txt-difficulty">How did you feel about it ?</p>

    <div class="button-container">
      <button class="button-difficulty color-difficult" (click)="setStateFact('Difficult')">Difficult</button>
      <button class="button-difficulty color-review" (click)="setStateFact('To review')">To review</button>
      <button class="button-difficulty color-easy" (click)="setStateFact('Easy')">Easy</button>
    </div>
  </div>

  <p id="index">{{ currentIndex }} / {{ totalFact }}</p>
  <button id="next-button" (click)="onNextClick()">Next Fact</button>
</div>
