
<div class="display-packages-container">

    <p>Welcome to Anki</p>

    <div class="button">
        <button class="button-back" type="button" routerLink="/display-package">Check out all the lessons</button>
    </div>

    <div class="button">
        <button class="button-back" type="button" routerLink="/study-now/1">Go Study</button>
    </div>

    <div class="button">
        <button class="button-back" type="button" routerLink="/facts-statistics">Check out your Stats</button>
    </div>

    <div class="button">
        <button class="button-back" type="button" routerLink="/help-documentation">Check out the Documentation</button>
    </div>

    </div>



<body>

<div class="bottom-right-image-container">
    <img class="bottom-right-image" src="assets/images/study_picture.PNG" >
</div>


<div class="bottom-right-image-container">
    <img class="left-image" src="assets/images/cahier.png" >

</div>
</body>
