.bottom-right-image {
    max-width: 75%;
    max-height: 75%;
    bottom: 0;
    margin-left: 600px;
    right: 10px;
    position: fixed;
}


.display-packages-container {
    font-family: "Ink Free", sans-serif;
    background-color: var(--rose-clair);
    border-radius: var(--bordure-arrondie);
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: center;
    color: var(--noir);
    margin: 75px 15px 15px 15px;
    display: flex;
    height: 78vh;
    flex-direction: column;
    justify-content: center;
    top: 0px;
    font-size: 40px;
}

.left-image{
    max-width: 100%;
    max-height: 100%;
    bottom: -100px;
    left: -100px;
    position: fixed;
    transform: rotate(-15deg);
}

body {
    overflow: visible;
}

.button{
    font-size: 20px;
    margin-bottom: 15px;
}
.button-back{
    border-radius: var(--petite-bordure);
    box-shadow: var(--box-shadow);
    background-color: var(--blanc);
}
.button-back:hover{
    background-color: var(--vert-pale);
}

