body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: var(--rose-clair);
}

h1 {
  margin-top: 20px;
  color: var(--vert-clair);
}

#question-container {
  /*background-color: #fff; */
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 15px auto;
  max-width: 600px;
}

#answer-container {
  /* background-color: var(--blanc); */
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 15px auto;
  max-width: 600px;
}

#index {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: var(--noir); /* Couleur de l'index */
}

#next-button {
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 40px;
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#next-button:hover {
  background-color: var(--vert);
}
