.display-facts-container {
  font-family: Arial, sans-serif;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 20px;
  color: var(--blanc);
}

app-fact {
  display: inline-block;
  vertical-align: top;
}

.page-container {
  display: flex;
}

.button-add {
  margin: 40px;
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-add button[type="button"]:hover {
  background-color: var(--vert);
}
