.container {
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  font-family: 'Ink Free', sans-serif;
  font-size: 18px;
}

#myChart {
  width: 100%;
  height: 400px;
}

.color-easy{
  color: var(--vert);
}
