<div class="display-container">

    <ng-container *ngIf="!isEditing; else editMode">

    <div *ngIf="currentPackage" class="display-packages-container">
      <div class="section">
        <h1 class="title">
          <span class="attribute-name" >Title : </span>
          <span class="attribute-value" >{{ currentPackage.title_package }}</span>
        </h1>
      </div>
      <div class="section">
          <span class="attribute-name"> Description : </span>
          <span class="attribute-value">{{ currentPackage.description_package }}</span>

      </div>
      <div class="section">
          <span class="attribute-name">Category : </span>
          <span class="attribute-value">{{ currentPackage.category }}</span>

      </div>
      <div class="section">
            <span class="attribute-name">Target Audience : </span>
            <span class="attribute-value">{{ currentPackage.target_audience }}</span>

      </div>
      <div class="section">
            <span class="attribute-name">Difficulty Level : </span>
            <span class="attribute-value">{{ currentPackage.difficulty_level }}</span>

      </div>


    </div>

      <div class="button-container">

        <button class="button-shape" type="button" (click)="startEdit()">Edit Package</button>
        <button class="button-shape delete-button" type="button" (click)="startEdit()">Delete Package</button>
      </div>

    </ng-container>
    <ng-template #editMode>


      <div *ngIf="currentPackage" class="display-packages-container">

        <div class="section">

          <h1 class="title">

            <span class="attribute-name">Title : </span>
          <input [(ngModel)]="currentPackage.title_package" class="attribute-value" [ngStyle]="{ 'width': getWidthTitle() }"/>

          </h1>
        </div>


      <div class="section">

          <span class="attribute-name">Description : </span>
          <input [(ngModel)]="currentPackage.description_package" class="attribute-value" [ngStyle]="{ 'width': getWidthDescription() }"/>

      </div>

      <div class="section">

          <span class="attribute-name">Category : </span>
          <select class="attribute-value" [(ngModel)]="currentPackage.category">
            <option value="Maths">Maths</option>
            <option value="English">English</option>
            <option value="Physics">Physics</option>
            <option value="Philosophy">Philosophy</option>
            <option value="History">History</option>
            <option value="Geography">Geography</option>
            <option value="Informatics">Informatics</option>
          </select>

      </div>
        <div class="section">

          <span class="attribute-name">Target Audience : </span>
          <select class="attribute-value" [(ngModel)]="currentPackage.target_audience">
            <option value="Children">Children</option>
            <option value="Adults">Adults</option>
            <option value="Eldery">Eldery</option>
            <option value="Any">Any</option>
          </select>


        </div>
        <div class="section">

          <span class="attribute-name">Difficulty Level : </span>
          <select class="attribute-value" [(ngModel)]="currentPackage.difficulty_level">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
            <option value="Undefined">Undefined</option>
          </select>

        </div>

      </div>

      <div class="button-container">
        <button class="button-shape" type="button" (click)="commitEdit()">Commit</button>
        <button class="button-shape cancel-button" type="button" (click)="cancelEdit()">Cancel</button>
      </div>
    </ng-template>

  </div>

