.display-container {
  font-family: "Ink Free", sans-serif;
  font-size: 20px;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--rose-pale);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: auto;
  max-height: 70px;
  margin: 15px 15px 15px 15px;
  padding: 10px;
  color: var(--noir);
}

.button-shape {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  width: 220px;
  height: 40px;
  border-radius: var(--petite-bordure);
  cursor: pointer;
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}

.button-shape:hover {
  background-color: var(--vert);
}


.delete-button {
  background-color: var(--rouge-pale);
}

.delete-button:hover {
  background-color: var(--rouge);
}

.cancel-button {
  background-color: var(--rose);
  color: var(--noir);
}

.cancel-button:hover {
  background-color: var(--rose-fonce);
}

.display-packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 20px;
}

.attribute-value{
  width: 200px;
}

.button-back {
  margin: 20px;
  background-color: var(--rose);
  color: var(--blanc);
  border: none;
  border-radius: var(--petite-bordure);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
  z-index: 1;

  top: 80px;
  position: fixed;
  left: 40px;
}

.button-back:hover {
  background-color: var(--rose-fonce);
}
