.display-container {
  font-family: Arial, sans-serif;
  background-color: var(--rose-clair);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  color: var(--noir);
  margin: 75px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  flex-direction: column;
  background-color: var(--rose-pale);
  border-radius: var(--bordure-arrondie);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: auto;
  max-height: 75px;
  margin: 15px 15px 15px 15px;
  padding: 20px;
  color: var(--noir);
  z-index: 1;
}

.button-shape {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  width: 220px;
  height: 40px;
  border-radius: var(--petite-bordure);
  cursor: pointer;
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}

.display-packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 20px;
}

.attribute-value{
  width: 200px;
}
