.display-container {
    font-family: Arial, sans-serif;
    background-color: var(--rose-clair);
    border-radius: var(--bordure-arrondie);
    box-shadow: var(--box-shadow);
    padding: 20px;
    text-align: center;
    color: var(--noir);
    margin: 75px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--blanc);
    box-shadow: var(--box-shadow);
    border-radius:var(--bordure-arrondie);
}

h1 {
    color: var(--blanc);
    padding-bottom: 8px;
    margin-top: 10px;
}

h3 {
    color: var(--blanc);
    padding-bottom: 8px;
    margin-bottom: 16px;
    font-size: 15px;
}
h2 {
    color: var(--vert);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
}

ul.no-bullets li {
    padding-left: 1em; /* Adjust the padding as needed */
    text-indent: -1em;
}
