<div class="display-container">

<h1>How Anki Works</h1>

  <section>
    <h2>Introduction</h2>
    <p>Anki is a spaced repetition application that uses flashcards to facilitate learning and memorization.</p>
  </section>

  <section>
    <h2>Basic Principle</h2>
    <p>Anki employs the spaced repetition algorithm to schedule facts reviews at optimal times, maximizing long-term retention.</p>
  </section>

  <section>
    <h2>Creating Packages</h2>
    <p>Users can create packages for certain subjects and precise the level of difficulty, what audience was it made for. These packages are then reviewed based on the user's mastery level.</p>
  </section>

  <section>
    <h2>Creating Facts</h2>
    <p>Users can create facts containing questions and answers. These cards are then reviewed based on the user's mastery level.</p>
    <ul>
      <li>Questions on the front, answers on the back.</li>
      <li>Use of media (images, audio, video) to enhance cards.</li>
    </ul>
  </section>

  <section>
    <h2>Daily Review</h2>
    <p>Anki offers a daily review of facts, automatically adjusting the repetition interval based on the user's performance.</p>
  </section>
</div>

