<div class="package-container">
  <h2>{{ package.title_package }}</h2>
  <div class="package-detail">
    <span class="attribute-name">Description:</span>
    <span class="attribute-value">{{ package.description_package }}</span>
  </div>
  <div class="package-detail">
    <span class="attribute-name">Category:</span>
    <span class="attribute-value">{{ package.category }}</span>
  </div>
  <div class="package-detail">
    <span class="attribute-name">Target Audience:</span>
    <span class="attribute-value">{{ package.target_audience }}</span>
  </div>
  <div class="package-detail">
    <span class="attribute-name">Difficulty Level:</span>
    <span class="attribute-value">{{ package.difficulty_level }}</span>
  </div>
  <div class="bouton-facts">
    <button class="see-facts" type="button" routerLink="/display-facts">See Facts</button>
  </div>
</div>
