.package-container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px 20px 30px 40px;
  width: 440px;
  text-align: left;
  color: #000;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.package-container h2 {
  margin-bottom: 20px;
  color: #2ecc71;
  text-align: center;
}

.package-detail {
  display: flex;
  margin-bottom: 10px;
}

.attribute-name {
  min-width: 170px;
  font-weight: bold;
  color: #333;
}

.attribute-value {
  text-align: left;
  flex-grow: 1;
  color: #666;
  max-width: 180px;
  overflow-wrap: break-word;
}
