body {
  font-family: Arial, sans-serif;
  background-color: var(--rose-clair);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--noir);
}

.login-container {
  background-color: var(--blanc);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: var(--vert-clair);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  color: var(--blanc);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--rose-clair);
}

button[type="submit"]:hover {
  background-color: var(--rose);
}

.login-container button[type="button"] {
  background-color: var(--vert-clair);
  margin-top: 10px;
}

.login-container button[type="button"]:hover {
  background-color: var(--vert);
}
