.fact-container {
  font-family: Arial, sans-serif;
  background-color: var(--blanc);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 20px; /* Réduisez la marge intérieure pour que les éléments soient plus proches */
  width: 550px;
  text-align: left;
  color: var(--noir);
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

/* Les styles pour le contenu des détails */
.fact-detail {
  display: flex;
  flex-direction: column; /* Placez les attributs les uns sous les autres */
  margin-bottom: 10px;
}

.attribute-name {
  font-weight: bold;
  color: var(--gris-fonce);
}

.attribute-value {
  text-align: left;
  color: var(--gris);
  max-width: 100%; /* Ajustez la largeur pour éviter un débordement */
}

/* Styles pour les boutons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-shape {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  width: 220px;
  height: 40px;
  border-radius: var(--petite-bordure);
  cursor: pointer;
  margin: 10px 0;
}

.bouton-shape:hover {
  background-color: var(--vert);
}
