.fact-container {
  background-color: var(--blanc);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 550px;
  text-align: left;
  color: var(--noir);
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
}

.fact-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.attribute-name {
  font-weight: bold;
  color: var(--gris-fonce);
}

.attribute-value {
  text-align: left;
  color: var(--gris);
  max-width: 100%;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 5px 5px;
  font-family: "Ink Free", sans-serif;
  font-size: 17px;
}


.button-shape {
  background-color: var(--vert-clair);
  color: var(--blanc);
  border: none;
  width: 220px;
  height: 40px;
  border-radius: var(--petite-bordure);
  cursor: pointer;
  margin: 5px 10px;
}

.button-shape:hover {
  background-color: var(--vert);
}

.delete-button {
  background-color: var(--rouge-pale);
}

.delete-button:hover {
  background-color: var(--rouge);
}

.cancel-button {
  background-color: var(--rose);
  color: var(--noir);
}

.cancel-button:hover {
  background-color: var(--rose-fonce);
}

