<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="navbar-nav mr-auto">
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu2" class="nav-link dropdown-toggle" role="button">
        File
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdown-menu">
        <a class="dropdown-item" routerLink="/create-form">Explore Lessons</a>
        <a class="dropdown-item" routerLink="/view-form">Import</a>
        <a class="dropdown-item" routerLink="/create-form">New</a>
        <a class="dropdown-item" routerLink="/view-form">Export</a>
      </div>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu3" class="nav-link dropdown-toggle" role="button">
        Study Now
      </a>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu4" class="nav-link dropdown-toggle" role="button">
        Progresses Statistics
      </a>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu5" class="nav-link dropdown-toggle" role="button">
        Achievements
      </a>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu6" class="nav-link dropdown-toggle" role="button">
        Help
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdown-menu">
        <a class="dropdown-item" routerLink="/create-form">Glossary</a>
        <a class="dropdown-item" routerLink="/view-form">Documentation</a>
        <a class="dropdown-item" routerLink="/view-form">About</a>
      </div>
    </li>

    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle id="navbarMenu7" class="nav-link dropdown-toggle" role="button">
        Profile
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdown-menu">
        <a class="dropdown-item" routerLink="/login-form">Login</a>
        <a class="dropdown-item" routerLink="/view-form">Settings</a>
      </div>
    </li>
  </ul>
</nav>
